{% extends ':registration:layout.html.twig' %}

{% block content %}
    <p class="lead">Bonjour {{ athlete.firstName }}, il semblerai que tu ai fait partie de Paris-Cheer l'annee derniere. C'est bien toi ?</p>

    <div class="card mt-5 mb-5">
        <div class="card-block">
            <h4 class="card-title">{{ candidate }}</h4>
            <p class="card-text">
                {{ candidate.phone }} <br>
                {{ candidate.email }}
            </p>
        </div>
    </div>

    <div>
        <form method="post" class="d-inline">
            <button class="btn btn-primary mr-2" name="{{ btn_name }}" value="1">
                <i class="fa fa-check" aria-hidden="true"></i>
                Oui c'est bien moi !
            </button>
            <button class="btn btn-secondary" name="{{ btn_name }}" value="0">
                Bien essayé mais non...
            </button>
        </form>
    </div>
{% endblock %}
